body {
    margin: 0;
}

.myButton {
	display: inline-block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    height: 100%;
    overflow: auto;
}

button {
    box-shadow: 5px 3px 5px #888888;
}

li a {
	font-weight:bold;
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

img {
    display: block;
    margin: 0 auto;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}